<section class="contact" id="contact">
    <div class="container">
        <h2>Contact</h2>
        <span class="seperator"></span>
        <div class="row">
            <div class="contact__info col-lg-5 col-md-5 col-sm-12 ">
                <ul>
                    <li><i class="fad fa-map-marker-smile"></i> Beit Semesh</li>
                    <li><i class="fas fa-envelope-open-text"></i> e.m.20663@gmail.com</li>
                    <li><i class="fas fa-mobile-alt"></i>
                        <a href="tel:052-714-3633"> 052-714-3633</a>
                    </li>
                </ul>

            </div>
            <div class="col-lg-7 col-md-7 col-sm-12">
                <div class="contact__form">
                    <form>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Name</mat-label>
                            <input matInput placeholder="Name" value="" required>
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Email" value="" required>
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Subject</mat-label>
                            <input matInput placeholder="Subject" value="" required>
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Message</mat-label>
                            <textarea matInput placeholder="lets talk..."></textarea>
                        </mat-form-field>
                        <button mat-button type="submit">
                            Submit
                        </button>
                    </form>
                </div>

            </div>

        </div>
    </div>
</section>