<section class="resume" id="resume">
    <div class="resume__skills">
        <div class="container">
            <h2>Skills</h2>
            <span class="seperator"></span>
            <ul class="d-flex">
                <li>
                    <i class="devicon-angularjs-plain"></i>
                </li>
                <li>
                    <i class="devicon-react-original"></i>
                </li>
                <li>
                    <i class="devicon-nodejs-plain"></i>

                </li>
            </ul>
        </div>
    </div>
    <div class="resume__details">
        <div class="container">
            <h2>Resume</h2>
            <span class="seperator"></span>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores, delectus deleniti. Itaque at maxime
                officiis libero, iusto, fuga accusantium ea similique ipsum placeat quasi qui.</p>
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <h2>Summary</h2>
                    <div class="resume__resume-item">
                        <h3>Eliyahu Mizrachi</h3>
                        <i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, tempora. Molestiae saepe
                            dicta quia tenetur.</i>
                        <ul>
                            <li>Email: e.m.20663@gmail.com</li>
                            <li>Phone: 0527143633</li>
                            <li>anothr info: Lorem ipsum dolor sit amet.</li>
                        </ul>
                    </div>

                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <h2>Professional Experience</h2>
                    <div class="resume__resume-item">

                        <h3>SENIOR GRAPHIC DESIGN SPECIALIST</h3>
                        <i>Lorem ipsum dolor sit amet.</i>
                        <ul>
                            <li>Email: e.m.20663@gmail.com</li>
                            <li>Phone: 0527143633</li>
                            <li>anothr info: Lorem ipsum dolor sit amet.</li>
                            <li>anothr info: Lorem ipsum dolor sit amet.</li>
                        </ul>

                        </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="resume__resume-item">

                        <h3>Eliyahu Mizrachi</h3>
                        <i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, tempora. Molestiae saepe
                            dicta quia tenetur.</i>
                        <ul>
                            <li>Email: e.m.20663@gmail.com</li>
                            <li>Phone: 0527143633</li>
                            <li>anothr info: Lorem ipsum dolor sit amet.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                  <div class="resume__resume-item">

                      <h3>Eliyahu Mizrachi</h3>
                      <i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, tempora. Molestiae saepe
                          dicta quia tenetur.</i>
                      <ul>
                          <li>Email: e.m.20663@gmail.com</li>
                          <li>Phone: 0527143633</li>
                          <li>anothr info: Lorem ipsum dolor sit amet.</li>
                      </ul>
                  </div>
              </div>
            </div>
        </div>
    </div>
</section>
